@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;400;700&display=swap');
body {
  font-family: 'Roboto', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Slab', serif;
}

.box {
  --b: 1px;   /* thickness of the border */
  --c: cyan;   /* color of the border */
  --w: 20px;  /* width of border */
  --bg: rgba(0, 0, 0, 0.8);

  border:var(--b) solid transparent; /* space for the border */
  background:
    linear-gradient(var(--c),var(--c)) top left,
    linear-gradient(var(--c),var(--c)) top left,
    linear-gradient(var(--c),var(--c)) bottom left,
    linear-gradient(var(--c),var(--c)) bottom left,
    linear-gradient(var(--c),var(--c)) top right,
    linear-gradient(var(--c),var(--c)) top right,
    linear-gradient(var(--c),var(--c)) bottom right,
    linear-gradient(var(--c),var(--c)) bottom right;
  background-size:var(--b) var(--w),var(--w) var(--b);
  background-origin:border-box;
  background-repeat:no-repeat;
  background-color: var(--bg);
}

.port {
  stroke: cyan;
  stroke-width: 0.5px;
  fill: none;
}


#header {
  margin: 0;
  width: 100vw;
  height: 100vh;
  position: relative;
  /* in front of the map */
  z-index: 5;
  text-align: center;
}

#header.dark {
  /* reset background color */
  background-color: initial;
}
#header h1, #footer h1 {
  font-weight: lighter;
  background-color: #193747;
}
#header h1, #header h2, #header p {
  margin: 0;
  padding: 0;
  text-align: center;
}

/* keep an active step */
.step.active{
  position: sticky;
  top: 10px;
}

#diorama > rect {
  width: 100%;
  height: 100%;
}
#diorama {
  fill: #193747;
  height: 100%;
  width: 100%;
}



#footer {
  width: 100%;
  height: 100vh;
  background-color: #193747;
  /* min-height: 5vh; */
  /* padding-top: 2vh; */
  /* padding-bottom: 2vh; */
  /* text-align: center; */
  /* line-height: 25px; */
  /* font-size: 13px; */
  text-align: center;
  position: relative;
  z-index: 5;
}
