@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;400;700&display=swap');

/* include diffrent font weights */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;400;700&display=swap');
body {
  font-family: 'Roboto', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Slab', serif;
}


:root {
  --main-color: #003844;
  --center-size: 70vmin;
}


.lighter {
  font-weight: 200;
}
/* box layout */

.box {
  --b: 1px;   /* thickness of the border */
  --c: cyan;   /* color of the border */
  --w: 10px;  /* width of border */
  --bg: var(--main-color);

  border:var(--b) solid transparent; /* space for the border */
  background:
    linear-gradient(var(--c),var(--c)) top left,
    linear-gradient(var(--c),var(--c)) top left,
    linear-gradient(var(--c),var(--c)) bottom left,
    linear-gradient(var(--c),var(--c)) bottom left,
    linear-gradient(var(--c),var(--c)) top right,
    linear-gradient(var(--c),var(--c)) top right,
    linear-gradient(var(--c),var(--c)) bottom right,
    linear-gradient(var(--c),var(--c)) bottom right;
  background-size:var(--b) var(--w),var(--w) var(--b);
  background-origin:border-box;
  background-repeat:no-repeat;
  background-color: var(--bg);
}

.port {
  stroke: #82d7c6;
  stroke-width: 0.5px;
  fill: none;
}


#header {
  margin: 0;
  width: 100vw;
  height: 100vh;
  position: relative;
  /* in front of the map */
  z-index: 5;
  text-align: center;
}

#header.dark {
  /* reset background color */
  background-color: initial;
}
#header h1, #footer h1 {
  font-weight: 200;
  background-color: #003844;
}
#header h1, #header h2, #header p {
  margin: 0;
  padding: 0;
  text-align: center;
}

/* keep an active step */
.step.active{
  position: sticky;
  top: 10px;
}

#diorama > rect {
  width: 100%;
  height: 100%;
}
#diorama {
  fill: #003844;
  height: 100%;
  width: 100%;
}



#footer {
  width: 100%;
  height: 100vh;
  background-color: #003844;
  /* min-height: 5vh; */
  /* padding-top: 2vh; */
  /* padding-bottom: 2vh; */
  /* text-align: center; */
  /* line-height: 25px; */
  /* font-size: 13px; */
  text-align: center;
  position: relative;
  z-index: 5;
}


#hamburger {
  position: fixed;
  top: 0;
  left: 0;
  margin: 0.8em;
  width: 2em;
  height: 2em;
  font-size: 2em;
  z-index: 10;
  background-color: initial;
}
#hamburger a {
  text-decoration: none;
  color: white;
}
